body{
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* working with the header + intro box */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: grey;
}
.intro .subtitle{

}
.header{
background-color: #1F2937;
padding: 5px 100px;
display: flex;
flex-direction: column;
flex: none;
margin: 0;
}
.intro{
    display: flex;
    margin: 100px 0;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.toplinks img{
    flex: 0 1 0;
    width: 30px;
}
/* working with the testimonials box */
.box{
    /* height: 500px; */
    display: flex;
    flex-direction: column;
}
.box,
.box.showcase{
    flex-direction: column;
}

.box.showcase .showcase{
   display: flex;
   justify-content: center;
   gap: 25px;
   margin-bottom: 100px;
}
.mainContent{
    font-weight: 900;
    font-size: 36px;
}

.start{
    width: 300px;
    height: 100px;
    margin-left: 30px;
}
.text{
    font-size: 18px;
    color: #e5e7eb;
}

.footer{
background-color: #1F2937;
color: white;
text-align: center;
}
.box.popup{
    flex-direction: row;
    margin: 30px 300px;
    padding: 20px 40px;
    justify-content: center;
    gap: 10em;
    border-radius: 5px;
    /* max-height: 500px; */

}

.title{
    font-size: 20px;
    color: white;
    font-weight: 900;
}

.subtitle{
    color: white;
    font-weight:100;
}
.caption{
    color:grey;
}
.showcase{

}

.testimonial{

}

.item img{
width: 200px;
height: 200px;
border-radius: 10px;
border-color: #3882f6;
border-width: 10px;
}

.toplinks{
height: 30px;
max-height: 30px;
display: flex;
justify-content: space-between;
background-color: #1F2937;
}
.signup, .signup-alt{
background-color: #3882f6;
color: white;
padding: 2px 20px;
border-radius: 5px;
}
.signup-alt{
align-self: center;
border-color: white;
}
.popup{
    background-color: #3882f6;

}
.hero{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8
}
h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    overflow-wrap: break-word;
    stroke: lightgray;
    font-weight: 100;
}

.author{
    font-size:18px;
    text-align: right;
    stroke: black;
    font-weight: bold;
}
.box.quote{
background-color: lightgray;
padding: 200px 100px;
}